[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
pdfplumber = "*"
openpyxl = "*"
python-docx = "*"
beautifulsoup4 = "*"
pandas = "*"
pytesseract = "*"
pillow = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
